@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
.container-fluid {
  padding: 0; }

.nav.justify-content-end {
  background-color: transparent; }

.nav-item {
  margin: 30px; }
  .nav-item a {
    color: white; }

.nav-link {
  text-transform: none;
  font-weight: bold;
  font-size: 1.2em; }

.btn.btn-raised.btn-primary {
  padding: 14px 36px;
  border-radius: 3px;
  background-color: #08b6a4; }

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/surf/ola3.jpg");
  padding-top: 14em;
  padding-bottom: 15em; }

.home {
  position: relative;
  width: 100%; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100; }

.about-us {
  position: relative;
  width: 100%;
  background: #444347; }

.half-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }

.half-box-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 400px; }

.img-medium {
  max-height: 150px;
  max-width: 300px; }

.title {
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  font-weight: bold; }

.white {
  color: white; }

.bordered {
  border: 2px solid white; }

html, body, ul, ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% 'Roboto', sans-serif;
  background-color: #efefef;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 5em;
  font-family: 'Lato'; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.3em; }
